.venv/
__pycache__
*.pyc
.pytest_cache/
.ruff_cache/
dist/
build/
*.egg-info/
.cache/
logs/
reports/
/cache/
config_example_ankey.yml
environment/*.env
environment/*.env.lock
.vscode
.VSCode*
.coverage
docs/uml/pipeline/diagnostic_layer/diagnostic_layer_requirements.md
